<div class="my-conatiner mx-auto">
   <div class="mb-4 my-shadow my-rounded-corner overflow-hidden" *ngFor="let suggestedProduct of suggestedProducts"> 
<div class="product-baner position-relative">
    <button type="button" class="btn btn-outline-light btn-lg">Shop Now</button>
    <img src="../../assets/images/Baners/{{suggestedProduct.banerimage}}" alt="bro">
</div>
<div class="product-list py-5">
    <app-suggested-products [category]="suggestedProduct.category" ></app-suggested-products>
</div>
   </div>
</div>